@import url(../../index.css);

.containerGeneral{
    display: grid;
    background-color: var(--color2);
}
.carritoVacio{
    background-color: var(--color2);
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color4);
    font-size: 30px;
}
.containerNavVacio{
    background-color: var(--color2);
}
.containerInfo{
    background-color: var(--color2);
    width: 100vw;
    height: 100%;
    margin-top: 10px;
    padding: 15px;
    display: grid;
    grid-template-columns: 30% 1fr;
}
.containerDetail{
    grid-column: 1;
    width: 100%;
    height: 1fr;
    background-color: var(--color3);
    font-weight:600;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 15px;
}
.containerCart{
    padding: 15px;
    margin-left: 5px;
    grid-column: 2;
    height: 100%;
    grid-row: 1/20;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    overflow: auto;
}
.informacion{
    width: 100%;
    background-color: var(--color4);
    border-radius: 5px;
    padding: 15px;
    list-style: none;
    transition: .4s;

}
.informacion:hover{
    background-color: #c7c7c7
}
.select{
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    width: 170px;
    height: 30px;
}
.selectdiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btn{
    background-color: var(--color1);
    color: var(--color4);
    border: 0;
    width: 50px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 19px;
    transition: .3s;
}
.btn:hover{
    background-color: var(--color4);
    color: var(--color1);
}
.btncomprar{
    background-color: var(--color1);
    color: var(--color4);
    border: 0;
    width: 150px;
    height: 28px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.btncomprar:hover{
    background-color: var(--color4);
    color: var(--color1);
}
.btncomprarpasarela{
    background-color: var(--color3);
    color: var(--color4);
    border: 0;
    width: 200px;
    height: 40px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.btncomprarpasarela:hover{
    background-color: var(--color4);
    color: var(--color1);
}
.textTotal{
    color: var(--color4);
    font-weight: bold;
}