@import url(../../index.css);

.container{
    background-image: url(../../img/felix-besombes-9qUEBg1qVKc-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
    

}

.inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.containerDescription{
    height: 8rem;
    margin-top: 1rem;
}
.description{
        font-family: var(--fontpage);
        overflow: scroll;
        resize: none;
        font-size: 14px;
        color: var(--color2);
        margin-bottom: 2vw; 
        background-color: #dbdada;
        width: 50%;
        height:100%;
        border-radius: 5px;
        font-size: 15px;        /* padding-left: 10px; */
    }

.description::placeholder{
        padding-left: 10px;
        font-size: 15px;
    }


.card{
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    border: solid 1px rgba(255, 255, 255, 0.3);
    box-shadow:  5px 5px 14px rgba(0, 0, 0, 0.32);
    width: 40vw;
    height: auto;
    margin: 30px;
    text-align: center;
    border-radius: 5px;
    overflow: auto;
    padding-bottom: 3vh;
}

.inputTicket, .inputPrice{
    width:15%;
    background-color: #dbdada;
    display: flex;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.inputTicket::-webkit-outer-spin-button,
.inputTicket::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputPrice::-webkit-outer-spin-button,
.inputPrice::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


/* .inputPrice{
    width:15%;
    background-color: #dbdada;
    display: flex;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 1rem;
} */

.priceTicket{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: -1rem;
    padding-left: 1rem;
}

.maxTickets{
    margin-bottom: 2rem;
    margin-top: 0;
}

.titlePrice{
    margin-top: 1rem;
}



.values{
    display: flex;
    flex-direction: row;
}

.inputText{
    width:50%;
    background-color: #dbdada;
    display: flex;
    margin-left: 9rem;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 1rem;
}

.inputText::placeholder{
    font-size: 15px;
    text-align: center;
    color: var(--color2);
}



.error{
    width:50%;
    background-color: #dbdada;
    color: red;
    display: flex;
    margin-left: 9rem;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 1rem;
    border-color: red;
}
.error::placeholder{
    font-size: 15px;
    text-align: center;
    color: red
}

.filter{
    display: flex;
    justify-content: center;
}
.genreLocation{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    color: #EEEEEE;
    width: 10vw;
    height: 2.5vw;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 14px;
}

.optionGenreLoc{
    background-color: var(--color3);
}


.btnGenre{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    width: 12.5vw;
    height: 2.5vw;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 1.1vw;
    margin-left: 1rem;
    border: none;
    transition: box-shadow 0.25s ease 0s;
    color: #EEEEEE;
}

.btnLocation{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    width: 10vw;
    height: 3vw;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 1.1vw;
    margin-left: 1rem;
    border: none;
    transition: box-shadow 0.25s ease 0s;
    color: #EEEEEE;
}


.btnGenre:hover, .btnLocation:hover{
    background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
    box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
    cursor: pointer;
}
.btnGenre:active, .btnLocation:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

.btn{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    color: #EEEEEE;
    transition: box-shadow 0.25s ease 0s;
    text-align: center;
    cursor: pointer;
    font-weight: 550;
    font-size: 1.1vw;
    border: none;
    margin-top: 1rem;
    width: 10vw;
    height: 2vw;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.btn:hover{
    background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
    box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}
/* .btn:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   } */


.containerBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4vw;
}

.select{
    color: #dbdada;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.imageRender{
    width: 15vw;
    height: 15vh;
    object-fit: contain;
}

.optionLugares{
    background-color: #FF5722;
}