.containerRegisterUser{
    width: 100vw;
    height: 100vh;
    /* background: url("../../img/bk.jpg"); */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.conteinerData{
    height: 83vh;
    width: 30vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}

.containerForm{
    height: 60vh;
    width: 45vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.title{
    margin-top: 5px;
    margin-bottom:2vw;
    color: #dbdada;
    /* margin-right: 3vw; */
}
.containerSocialRegister{
    height: 8vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}



.inputText{
    width:100%;
    background-color: #dbdada;
    display: flex;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    /* margin-left: 4vw; */
    /* margin-right: 40px; */
    margin-bottom: 1vw;
}

.inputText::placeholder{
    font-size: 15px;
    text-align: center;
    color: var(--color2);
}

.error{
    width:100%;
    background-color: #dbdada;
    display: flex;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    /* margin-left: 40px;
    margin-right: 40px; */
    margin-bottom: 1vw;
    border-color: red;
}

.error::placeholder{
    font-size: 15px;
    text-align: center;
    color: red;
    font-weight: bold;
}

.containerInput{
    width: 50%;
    display:flex;
    
}

.btn{
    background-color: #FF4C29;
    color: #dbdada;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    margin-bottom: 2vw;
    width: 10vw;
    height: 2vw;
    margin-right: 3vw;
}
.btn:hover{
    background-color: #ff3f18;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.btn:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }


.containerBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4vw;
}

.reasonContact{
    font-family: var(--fontpage);
    overflow: scroll;
    resize: none;
    font-size: 15px;
    color: var(--color2);
    margin-bottom: 2vw; 
    background-color: #dbdada;
    width: 100%;
    height:100%;
    border-radius: 5px;
    font-size: 15px;
    /* padding-left: 10px; */
}
.reasonContact::placeholder{
    padding-left: 10px;
    font-size: 15px;
}

.errorMessage{
    font-family: var(--fontpage);
    overflow: scroll;
    resize: none;
    font-size: 15px;
    margin-bottom: 2vw; 
    background-color: #dbdada;
    width: 100%;
    height:100%;
    border-radius: 5px;
    font-size: 15px;
    border-color: red;

}

.errorMessage::placeholder{
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
    color: red;
    font-weight:500
    
}



