/* MEDIDAS CORREGIDAS A REM*/

@import url(../../index.css);
/* @import url(../Home/Home.module.css); */

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(../../img/felix-besombes-9qUEBg1qVKc-unsplash.jpg);
    background-size: cover;
    
    
}

.card{
margin-top: 0rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 80vw;
background-color: rgba(255, 255, 255, 0.1); 
backdrop-filter: blur(0.3rem); 
border: solid 0.06rem rgba(255, 255, 255, 0.80);
box-shadow:  0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.32);
border-radius: 0.9rem;
height: 80vh;
}

.name, .genre, .schedule, .venue, .prueba{
   color: #EEEEEE
}

.description{
    color: var(--color4);
    
}
.carddetail{
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(0.3rem); 
    border: solid 0.06rem rgba(255, 255, 255, 0.3);
    box-shadow:  0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.32);
    border-radius: 0.6rem;
        
}

.button{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    width: 12vw;
    height: 1.8rem;
    color: #ffff;
    text-align: center;
    border-radius: 0.18rem;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    margin-right: 2.2rem;
    border: none;
    margin: 0.8rem;
    cursor: pointer;
    margin-top: 5rem;
    transition: box-shadow 0.25s ease 0s;
}

.button:hover,
.button:focus {
 background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
 box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}

.img{
    width: 30vw;
    height: 12.4rem;
    border-radius: 0.3rem;
    border-radius: 0.6rem;
    box-shadow:  0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.32);
    border: solid 0.06rem rgba(255, 255, 255, 0.3);
}
.imgPlace{
    
    z-index: index;
    position: absolute;
    top: 0.9rem;
    width: 95%;
    height: 85%;
    border-radius: 0.6rem;
    box-shadow:  0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.32);
}
.midcontainer{
    
    z-index: 2;
    width: 70vw;
    height: 70%;
    display: flex;
    justify-content: space-between;
    

}

.description{
    width: 90%;
    background-color: var(--color1);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}
.add{
    color: var(--color4);
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    margin-top: 9rem;
    z-index: 15;
}
.detailTicket{
    border: solid 0.06rem rgba(255, 255, 255, 0.3);
    display: flex;
    border-radius: 0.3rem;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.18rem;
    background-color: var(--color3);
    font-size: smaller;
    box-shadow:  0.3rem 0.3rem 0.9rem rgba(0, 0, 0, 0.32);
}
.containerCarrito{
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    width: 30%;
    height:fit-content;
    color: var(--color4);
    background-color: var(--color1);
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 0.5rem;
}

.buttonscontainer{
   display: flex;
   justify-content: space-evenly;
   width: 29rem;
}
.addicon{
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
}
.buttonadditem{
 display: flex;
 flex-direction: column;
}
