
.SearchBardiv{
    height: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
}
.SearchBar{
    width: 40%;
    height: 50px;
    border: 0;
    outline: 0;
    background-color: rgb(85, 85, 85);
    padding-left: 10px;
    color: wheat;
    font-size: 17px;
    position: fixed;
    top: 9%;
}
.SearchBar::placeholder{
    color: rgb(148, 148, 148);
    padding-left: 10px;
    font-size: 17px;
}