.containerGeneral{
    background-color: rgba(104, 104, 104,.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerInfo{
    background-color: white;
    width: 40%;
    height: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.info{
    width: 90%;
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
}
.containerClose{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.btnClose{
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(247, 107, 107);
    color: white;
    cursor: pointer;
    transition: .4s;
}
.btnClose:hover{
    background-color: rgb(133, 133, 133);
}
.tickets{
    background-color: rgb(133, 133, 133);
    color: wheat;
    width: 90%;
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 5px;
}
.title{
    font-weight: 600;
}
.admin{
    background-color: yellow;
    width: 140px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}