.button{
    margin-right: 2vw;
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    width: 8vw;
    height: 2.5vw;
    text-align: center;
    border-radius: 3px;
    color: #EEEEEE;
    /* margin-bottom: 5px; */
    font-size: 1vw;
    /* margin-right: 35px; */
    border: none;
    /* margin: 13px; */
    cursor: pointer;
    margin-top: 3vh;
    transition: box-shadow 0.25s ease 0s;
}

.button:hover,
.button:focus {
 background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
 box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}


.img{
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    padding: 10px;
}