@import url(../../index.css);


.calendar{
    background-color: dimgray;
    border: 1px solid  black;
    height: 550px;
    width: 650px;
    border-radius: 3px;
    background-color: var(--fc-page-bg-color);
    color: var(--color4);
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 10px 10px;
}

.fc .fc-col-header-cell-cushion { /* needs to be same precedence */
    padding-top: 2px; /* an override! */
    padding-bottom: 2px; /* an override! */
  }

.fc-scrollgrid-sync-inner{
    width: 120px;
}
