.selectGenre{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    background-color: #FF4C29;
    width: 10vw;
    height: 2.5vw;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 0.5vw;
    color: whitesmoke;
    cursor: pointer;
}


/* .option{
    background-color: #FF4C29;
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
} */

/* .selectGenre {
    border-radius: 999px;
    padding: 1em 2em;
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.25s ease 0s;
    letter-spacing: 0.08rem;
   }
   
.selectGenre:hover,
.selectGenre:focus {
    background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
    box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
   } */