@import url(../../index.css);

.containerContact{
    display:flex;
    background-color: var(--color2);   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: auto;
    margin-top: 1px;
    box-shadow:  5px 5px 14px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.3);
}
.form{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nameContact{
    /* margin-top: 30px; */
    background-color: #dbdada;
    width: 140%;
    display: flex;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-left: -40px;
    margin-right: 40px;

}
.nameContact::placeholder{
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
}

.errors{
    background-color: #dbdada;
    border-color: red;
    width: 140%;
    display: flex;
    justify-content: center;
    /* color: red; */
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-left: -40px;
    margin-right: 40px;
}

.errors::placeholder{
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
    color: red;
    
}



.mailContact{
    background-color: #dbdada;
    width: 140%;
    display: flex;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-left: -40px;
    margin-right: 40px;


}
.mailContact::placeholder{
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
}

.phoneContact{
    background-color: #dbdada;
    width: 140%;
    display: flex;
    justify-content: center;
    color: var(--color2);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-left: -40px;
    margin-right: 40px;

}
.phoneContact::placeholder{
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
}

.reasonContact{
    font-family: var(--fontpage);
    overflow: scroll;
    resize: none;
    font-size: 14px;
    color: var(--color2);
    margin-bottom: 2vw; 
    background-color: #dbdada;
    width: 100%;
    height:100%;
    border-radius: 5px;
    font-size: 15px;
    /* padding-left: 10px; */
}
.reasonContact::placeholder{
    padding-left: 10px;
    font-size: 15px;
}


.errorMessage{
    font-family: var(--fontpage);
    overflow: scroll;
    resize: none;
    font-size: 14px;
    margin-bottom: 2vw; 
    background-color: #dbdada;
    width: 100%;
    height:100%;
    border-radius: 5px;
    font-size: 15px;
    border-color: red;

}

.errorMessage::placeholder{
    padding-left: 10px;
    font-size: 15px;
    text-align: center;
    color: red;
    font-weight:500
    
}
.containerbtnsend{
    display: flex;
    justify-content: center;
}
.btnSend{
   background-color: #FF4C29;
   width: 10vw;
   height: 3vw;
   text-align: center;
   border: 0;
   font-size: 15px;
   cursor: pointer;
   font-weight: bold;
   color: #dbdada;
   transition: 0.3s;
   margin-bottom: 5px;
}

.btnSend:hover{
    background-color: #ff3f18;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.btnSend:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

.btnSend:disabled{
    background-color: grey;
}
.errores{
    color:#ff3f18;
    font-weight: 400;
    font-size: medium;
    padding: -12px;
   
}