@import url(../../index.css);

.containerProfileUser{
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    background: url(../../img/felix-besombes-9qUEBg1qVKc-unsplash.jpg);
    background-size: cover;
    
}

.profile{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(5px); 
    border: solid 1px;
    border-top-style: solid;
    border-width: 1px;
}

.containerDataUser{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    /* background-color: grey; */

}

.title{
    margin: 0px 0px 0px 0px
}


.buttonBack{
    background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
    /* display: flex;
    align-items: center; */
    width: 5rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 46%;
    margin-right: 50%;
    cursor: pointer;
    border: none;
    transition: box-shadow 0.25s ease 0s;
    color: whitesmoke;
}

.buttonBack:hover,
.buttonBack:focus {
 background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
 box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}

.containerBtn{
    width: 100%;
}
.cards{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}