.graphic{
    width: 400px;
    background-color: rgb(230, 230, 230);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}
.containerGraphic{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}